# registry=http://localhost:4873/
# @lerna:registry=https://registry.npmjs.org/
# lerna:registry=https://registry.npmjs.org/
# auto-install-peers = true
# shared-workspace-lockfile = false

registry=https://registry.npmmirror.com/
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true