shamefully-hoist=true
registry=https://registry.npmmirror.com/
public-hoist-pattern[]=*
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted

# verdaccio 配置
@web3-ui:registry=http://localhost:4873/
@web3-hooks:registry=http://localhost:4873/
//localhost:4873/:_authToken="你的verdaccio token"
